.privacyConsentContainer {
  z-index: 999;
  width: 350px;
  min-height: 20px;
  box-sizing: border-box;
  padding: 30px 30px 30px 30px;
  background: #232323;
  overflow: hidden;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
}

.privacyConsentContainer .privacyTitle {
  font-family: inherit;
  color: #ffffff;
  font-size: 22px;
  line-height: 20px;
  display: block;
}

.privacyConsentContainer .privacyDesc p {
  margin: 0;
  padding: 0;
  font-family: inherit;
  color: #ffffff;
  font-size: 13px;
  line-height: 20px;
  display: block;
  margin-top: 10px;
}

.privacyConsentContainer .privacyDesc a {
  font-family: inherit;
  color: #ffffff;
  text-decoration: underline;
}

.privacyConsentContainer .privacyButton a {
  display: inline-block;
  font-family: inherit;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-top: 14px;
  background: #000000;
  box-sizing: border-box;
  padding: 15px 24px;
  text-align: center;
  transition: background 0.3s;
  width: 100%;
}

.privacyConsentContainer .privacyButton a:hover {
  cursor: pointer;
  background: #3e9b67;
}

@media (max-width: 980px) {
  .privacyConsentContainer {
    bottom: 0px !important;
    left: 0px !important;
    width: 100% !important;
  }
}
